*.class
*.log
*.pyc
*.swp
.DS_Store
.env
!.env.example
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

.codex/
.agents/
*.tmp
*.temp

*.iml
*.ipr
*.iws
.idea/
!.idea/runConfigurations/
!.idea/runConfigurations/*.example.xml
.idea/runConfigurations/Trasia_env.xml

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/android/build/
/android/deps.txt
/coverage/
.packages

app.*.symbols

app.*.map.json

/android/app/debug
/android/app/profile
/android/app/release

local.properties
**/google-services.json
!android/app/google-services.json

**/GeneratedPluginRegistrant.*
**/generated_plugin_registrant.*

**/Pods/
**/.symlinks/
**/Flutter/ephemeral/
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec
**/xcuserdata/
**/*.xcuserstate

**/flutter/ephemeral/
